<div class="container"</div>
<h1> Sign in to Twitter</h1>

<form id = "sign-in-twitter" method="post" action="/index">
  <label class="username">Twitter Username</label>
  <input type ="text" name="username">
  <br>

  <label class="password">Twitter Password</label>
  <input type ="password" name="password">
  <br>  
</form>

</div>


